<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>
        
        <main>
                       
                <% for (menu of menus){%>
                <div class="item"> 
                    <a href="/menu/<%= menu._id %>">
                        <h2>
                            <%= menu.name %>
                            $<%= menu.price %>
                        </h2>
                            <img src=<%= menu.image %> alt=<%= menu.name %>> 
                    </a>
                </div>
                
                <% } %>

        </main>
    </body>
</html>