<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <div>
                <article>
                    
                        <h2>
                            <%= menu.name %>
                        </h2>
                        
                        <div class="img"><img src=<%= menu.image %> alt=<%= menu.name %>></div>

                        <h3>$<%= menu.price %></h3>
                        <h3><%= menu.description %></h3>
                        <h3><%= menu.allergens %></h3>

                        <a href="/menu/<%= menu._id %>/edit">
                            <button>Edit</button>
                        </a>
                        <form action="/menu/<%= menu._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete"/>
                        </form>
                </article>
            </div>
        </main>
    </body>
</html>